<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= @title %></h1>

<% if @admin %>
  <%= form_tag admin_logout_path do %>
    You are logged in as <b><%= @admin.username %></b>.
    <button>Logout</button>
  <% end %>
  <hr>
<% end %>

<% for flash_type in [:error, :success] %>
  <% if flash[flash_type] %>
    <div class="flash flash-<%= flash_type %>">
      <%= flash[flash_type] %>
    </div>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
