<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
    .flash-error { border: 2px red solid; }
  </style>
</head>
</head>
<body>

<% if flash[:error] %>
  <div class='flash-error'>
    <%= flash[:error] %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
