<html>
  <head>
    <style>
      label {
        width: 130px;
        float: left;
      }

    </style>
  </head>
  <body>
    <% if @plot.new_record? %>
      <h1>Add Garden Plot</h1>
    <% else %>
      <h1>Edit Garden Plot</h1>
    <% end %>
    
    <% if @plot.id == nil
      action = "/plot/new"
      else
      action = "/plot/#{@plot.id}"
      end %>
      
      * Required fields
      <br>
      <%= error_messages_for @plot, header_message: "Please complete the required fields:" %>
      <br>
    <form method="POST" action="<%= action %>">

      <%= label_tag "seed_type", caption: "Seed Type *" %>
      <%= text_field_tag "seed_type", id: "seed_type", value: @plot.seed_type %>

      <br>

      <%= label_tag "planted_year", caption: "Planted Year *" %>
      <%= text_field_tag "planted_year", id: "planted_year", value: @plot.planted_year %>

      <br>
      
      <%= label_tag "planted_month", caption: "Planted Month *" %>
      <%= select_tag "planted_month", id: "planted_month", 
      options: ["", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
      selected: @plot.planted_month %>

      <br>
     
      <%= label_tag "planted_day", caption: "Planted Day *" %>
      <%= text_field_tag "planted_day", id: "planted_day", value: @plot.planted_day %>

      <br>

      <%= label_tag "is_unused", caption: "Is Unused" %>
      <%= check_box_tag "is_unused", id: @plot.is_unused, checked: @plot.is_unused %>


      <br>

      <br>
      <div class='label-spacer'></div>
      <button name="action" value="save">Save</button>
      <br>
    </form>
  </body>

</html>
