<html>
  <head>
    <title><%= @title %></title>
    <style>
      label {
        width: 100px;
        float: left;
      }
      label[for=is_unused] {
        float: none;
      }
      .label-spacer {
        width: 100px;
        height: 1px;
        float: left;
      }
    </style>
  </head>
  <body>
    <h1><%= @title %></h1>
    <%= error_messages_for @plot,
        header_message: "Please fill out required fields:" %>

    <% if @plot.id == nil
      action = "/plots/new"
      else
      action = "/plots/#{@plot.id}"
      end %>

    <% form_tag("#{action}") do %>
      <%= label_tag "seed_type", caption: "Seed Type" %>
      <%= text_field_tag "seed_type", id: "seed_type", value: @plot.seed_type %>
      <br>
     
      <%= label_tag "planted_year", caption: "Planted Year" %>
      <%= radio_button_tag "planted_year", id: "planted_year_2012", value: 2012,
            checked: @plot.planted_year == 2012 %>
      <%= label_tag "planted_year_2012", caption: "2012" %>
      <%= radio_button_tag "planted_year", id: "planted_year_2013", value: 2013,
            checked: @plot.planted_year == 2013 %>
      <%= label_tag "planted_year_2013", caption: "2013" %>
      <br>

      <%= label_tag "planted_month", caption: "Planted Month" %>
      <%= select_tag "planted_month", id: "planted_month",
            options: ['', "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug",
                      "Sep", "Oct", "Nov", "Dec"], selected: @plot.planted_month %>
      <br>
     
      <%= label_tag "planted_day", caption: "Planted Day" %>
      <%= text_field_tag "planted_day", id: "planted_day", value: @plot.planted_day %>
      <br>

      <div class='label-spacer'>&nbsp;</div>
      <%= label_tag "is_unused", caption: "is unused" %>
      <%= check_box_tag "is_unused", id: "is_unused", checked: @plot.is_unused %>
      <br>

      <br>
      <div class='label-spacer'></div>
      <button>Save</button>
    <% end %>

  </body>
</html>
