<html>
  <head>
    <title>Contact Us</title>
  </head>
  <body>
    <% form_tag("/") do %>
      <%= label_tag "name", caption: "Your Name:" %>
      <%= text_field_tag "name", id: "name" %>
      <br>
      
      <%= label_tag "email", caption: "E-Mail:" %>
      <%= text_field_tag "email", id: "eamil" %>
      <br>
    
      <%= label_tag "web_site", caption: "Web site:" %>
      <%= text_field_tag "web_site", id: "web_site" %>
      <br>
      
      <%= label_tag "country", caption: "Country:" %>
      <%= text_field_tag "country", id: "country" %>
      <br>
      
      <%= label_tag "human check", caption: "Human Check: What is<br>the sum of: 3 + 0?" %>
      <%= text_field_tag "country", id: "country" %>
      <br>
      <% end %>
      
    </form>
  </body>
</html>
