<html>
  <head>
 
  </head>
  <body>
    <% form_tag("/post_handler") do %>
      <%= label_tag "first_name", caption: "First name" %>
      <%= text_field_tag "first_name", id: "first_name", value: "Enter your name" %>
      <br>
			<%= label_tag "email", caption: "E-Mail:" %>
      <%= text_field_tag "email", id: "email" %>
      <br>
      <%= label_tag "web_site", caption: "Web site:" %>
      <%= text_field_tag "web_site", id: "web_site" %>
      <br>
      <%= label_tag "country", caption: "Country:" %>
      <%= text_field_tag "country", id: "country" %>
      <br>
      <%= label_tag "human_check", caption: "Human Check: What is<br>the sum of: 3 + 0?" %>
      <%= text_field_tag "human_check", id: "human_check" %>
      <br>
      <%= label_tag "comments", caption: "Comments/Suggestions:" %>
      <br>
      <%= text_area_tag "comments", id: "comments", rows: 6, cols: 17 %>
      <div class='label-spacer'></div>
      <button name="action" value="save">Submit</button>
      <button name="action" value="reset">Clear</button>
    
      <% end %>
      
    </form>
  </body>
</html>