<html>
  <body>
      <% if @book.errors.size > 0 %>
      Errors:
      <ul>
      <% for error in @book.errors.full_messages %>
        <li><%= error %></li>
      <% end %>
      </ul>
    <% end %>
   
    <% if @book.new_record? %>
      <h1>Add book</h1>
    <% else %>
      <h1>Edit book</h1>
    <% end %>

    <% if @book.id == nil
      action = "/book/new"
    else
      action = "/book/#{@book.id}"
    end %>

    <form method="POST" action="<%= action %>">
      
      <%= label_tag :authors %><br>
      <%= text_field_tag "authors", id: "authors", value: @book.authors, size: 100 %>
      <br>
  
      <%= label_tag :title %><br>
      <%= text_field_tag "title", id: "title", value: @book.title, size: 100 %>
      <br>

  
      Condition<br>
      Perfect
      <%= radio_button_tag "condition", id: "condition_perfect", value: "perfect",
      checked: @book.condition == "perfect" %>
      Good
      <%= radio_button_tag "condition", id: "condition_good", value: "good",
      checked: @book.condition == "good" %>
      
      Fair
      <%= radio_button_tag "condition", id: "condition_fair", value: "fair",
      checked: @book.condition == "fair" %>
      
      <br>
      <br>
      
		<%= label_tag "stars", caption: "Stars" %>
		<%= select_tag "stars", id: "stars", 
		options: ["", "1", "2", "3", "4", "5"], selected: @book.stars %>
			
      <br>
			<br>  
      Is loaned out<br>
			<%= check_box_tag "is_loaned_out", id: "is_loaned_out", checked: @book.is_loaned_out %>

      <br>
      <br>

      <button>Update</button>
    </form>
  </body>
</html>
