<html>
  <body>

  
    <% if @book.new_record? %>
      <h1>Add book</h1>
    <% else %>
      <h1>Edit book</h1>
    <% end %>

    <% if @book.id == nil
      action = "/book/new"
    else
      action = "/book/#{@book.id}"
    end %>

    <form method="POST" action="<%= action %>">
    
      <br>
      <%= label_tag "authors", caption: "Authors" %>
      <%= text_field_tag "authors", id: "authors", value: @book.authors %>
      <br>
      <br>
  
      <%= label_tag "title", caption: "Title" %>
      <%= text_field_tag "title", id: "title", value: @book.title %>
      <br>
      <br>
      
      <%= label_tag "condition", caption: "Condition" %><br>
      <%= radio_button_tag "condition", id: "condition_perfect",
        value: "perfect", checked: @book.condition == "perfect" %>
      Perfect
      <%= radio_button_tag "condition", id: "condition_good",
        value: "good", checked: @book.condition == "good" %>
      Good
      <%= radio_button_tag "condition", id: "condition_fair",
        value: "fair", checked: @book.condition == "fair" %>
      Fair
      <br>
      <br>

      <%= label_tag "stars", caption: "Stars" %>
      <%= select_tag "stars", id: "stars",
        options: ["", "1", "2", "3", "4", "5"], 
        selected: @book.stars %>

      <br>
      <br>
      <div class='label-spacer'></div>
      <%= check_box_tag "is_loaned_out", id: "@book.is_loaned_out", checked: @book.is_loaned_out %>
      <%= label_tag "is_loaned_out", caption: "Is loaned out" %>
      <br>
      <br>

      <button>Update</button>
    </form>
  </body>
</html>
