<html>
<body>

<img src="<%= @property.image_url %>" width="500" height="375">

<h1><%= @property.address %></h1>
<h2><%= @property.price %></h2>

<p>
  <b>Bedrooms:</b> <%= @property.num_bedrooms %>
<p>
  <b>Stories:</b> <%= @property.num_stories %>
<p>
  <b>Square Feet:</b> <%= @property.num_square_feet %>
      <br>
      <br>
      <b><a href=/> back </a></b>
</body>
</html>
