<html>
<body>
<table width="827" height="131" border="0">
  <tr>
    <td width="327"><p align="center"><img src="/images/alfred_e_newman.jpg" width="208" height="236" alt="realitor" /></p></td>
    <td width="490"><h2>Friendly Real Estate Company
    </h2>
    <h3>Proudly serving the front range community.</h3>
    <p>
    <p>Specialties<br />
Buyer Brokerage, Business Opportunities, Condominiums, Development Land, Farm and Land, Foreclosure Property, Horse Property, Investments, New Construction, Other, Residential Acreages, Relocation, Short Sales<br />
  </p></td>
  </tr>
  <tr>
    <td><p align="center">Alfred E. Nueman, President<br />
    
      <blockquote align="center">
        Office Phone <br>
        Main (303) 455-3300 <br>
        Fax (303) 455-9139<br>
    </blockquote></td>
    <td align="center">&nbsp;</td>
  </tr>
</table>
<h1>Real Estate for sale</h1>
  <% for prop in @properties.order("id") %>
<div style="float:left;margin-right:30px">
  <a href="/property/<%= prop.id %>">
    <img src="http://farm1.staticflickr.com/55/139445633_e2fabef491.jpg" width="250" height="188">
  </a>
  <br>
  <div style="float:right">
    <a href="/property/<%= prop.id %>">
   <%= prop.price %>
    </a>
  </div>
  <a href="/property/<%= prop.id %>">
    <%= prop.address %>
  </a>
</div>
<% end %>

</div>

</body>
</html>
