<html>
  <head>
    <style>
      label[for=first_name],
      label[for=password],
      label[for=message],
      label[for=gender],
      label[for=card_type] {
        width: 100px;
        float: left;
      }
      .label-spacer {
        width: 100px;
        height: 1px;
        float: left;
      }
    </style>
  </head>
  <body>
    <% form_tag("/") do %>
      <%= label_tag "first_name", caption: "First name" %>
      <%= text_field_tag "first_name", id: "first_name", value: "Jill" %>
      <br>
    
      <%= label_tag "password", caption: "Password" %>
      <%= password_field_tag "password", id: "password", value: "secret" %>
      <br>

      <%= label_tag "message", caption: "Message" %>
      <%= text_area_tag "message", id: "message", value: "This is a test.",
            rows: 2, cols: 17 %>

      <br>

      <div class='label-spacer'>&nbsp;</div>
      <%= check_box_tag "finished", id: "finished", checked: true %>
      <%= label_tag "finished", caption: "Accepted terms and conditions" %>
      <br>

      <%= label_tag "gender", caption: "Gender" %>
      <%= radio_button_tag "gender", id: "gender_female", value: "female",
            checked: "male" == "female" %>
      <%= label_tag "gender_female", caption: "Female" %>
      <%= radio_button_tag "gender", id: "gender_male", value: "male",
            checked: "male" == "male" %>
      <%= label_tag "gender_male", caption: "Male" %>
      <br>
    
      <%= label_tag "card_type", caption: "Card type" %>
      <%= select_tag "card_type", id: "card_type",
            options: ["", "Visa", "MC"],
            selected: "MC" %>
      <br>

      <br>
      <div class='label-spacer'></div>
      <button name="action" value="save">Save</button>
      <br>
    <% end %>
  </body>
</html>
