<html>
  <body>
    <form method="POST" action="/logout">
    You are logged in as <b><%= @admin.username %></b>.  <button>Logout</button>
    </form>
    <hr>

    <h1>Edit property</h1>
    <form method="POST" action="/properties/<%= @property.id %>">
      <p>
      <b>ID #:</b> <%= @property.id %>

      <p>Address
      <br><%= text_field_tag "address", value: @property.address %>

      <p>Price
      <br><%= text_field_tag "price", value: @property.price %>

      <p>Bedrooms
      <br><%= text_field_tag "num_bedrooms", value: @property.num_bedrooms %>

      <p>Image URL
      <br><%= text_field_tag "image_url", value: @property.image_url,
        size: 99 %>

      <p>
      <button>Update</button>
    </form>
  </body>
</html>
