<html>
  <body><body style="margin:20;padding:0">
    <h1><p align="left">Computers Today</h1>
    <table valign="middle" bordercolor="#333333" bgcolor="#ECE9D8" align="left"; border=1>
      <tr>
        <th>Order ID</th>
        <th>Customer Name</th>
        <th>Sales Rep Name</th>
        <th>Date Received</th>
        <th>Payment Method</th>
        <th>Product Name</th>
      </tr>
      <% for orders in @g197_orders %>
        <tr>
          <td align="center"><%= orders.id %></td>
          <td><%= "#{orders.g197_customer.first_name} #{orders.g197_customer.middle_name} #{orders.g197_customer.last_name}" %>
          <td><%= "#{orders.g197_sales_rep.first_name} #{orders.g197_sales_rep.middle_name} #{orders.g197_sales_rep.last_name}" %>
          <td><%= orders.date_received %>
          <td align="center"><%= orders.payment_method %>
          <td><%  for items in orders.g197_order_items %>
              <%    product = items.g197_product %>
          <li><%= product.name %>
              <% end %>
        </tr>
      <% end %>
    </table>
  </body>
</html>