<!--
Directory 262: Write a web app to show all the orders for the Computers Today business (same data as directory 197). The columns should be:
  Order ID
  Customer name (not customer ID)
  Sales rep name (not sales rep ID)
  Date received
  Payment method
  Product names (join through both g197_order_items and g197_products)
-->
<html>
  <head>
    <title>
      Orders (262)
    </title>
  </head>
  <body bgcolor="#DD0000">
    <div style="position:absolute; left:20%; top:20;">
      <!-- This is the upper image -->
      <img src="/images/Spirit-Title.png">
    </div>
    <div style="position:absolute; left:40%; top:50;">
      <!-- This is the text for the upper image -->
      <h1><font size=7>Orders</font></h1>
    </div>
    <div style="position:absolute; left:20%; top:220;">
      <!-- This is the lower text table -->
      <p>
      <table cellpadding=4 cellspacing=0>
        <tr bgcolor="#990000">
          <th>Order ID</th>
          <th>Customer Name</th>
          <th>Sales Rep Name</th>
          <th>Date Received</th>
          <th>Payment Method</th>
          <th>Product Names</th>
        </tr>
        <% for order in @orders %>
        <tr bgcolor="#BB0000">
          <td><%= order.id %></td>
          <td><%= "#{order.g197_customer.first_name} #{order.g197_customer.middle_name} #{order.g197_customer.last_name}" %></td>
          <td><%= "#{order.g197_sales_rep.first_name} #{order.g197_sales_rep.middle_name} #{order.g197_sales_rep.last_name}" %></td>
          <td><%= order.date_received %></td>
          <td><%= order.payment_method %></td>
          <td>
            <ul><% for order_item in order.g197_order_items %>
              <li><%= order_item.g197_product.name %>
            <% end %></ul>
        <% end %>
        </tr>
      </table>
    </div>
  </body>
</html>
