<html>
  <body>
    <h1>Orders</h1>
    <table border='1'>
      <tr>
        <th>Order ID</th>
        <th>Customer Name</th>
        <th>Rep Name</th>
        <th>Date Recvd</th>
        <th>Payment Mehod</th>
        <th>Products</th>
        
      </tr>
      <% for each in @orders %>
        <% items = each.g197_order_items%>
        <% array = []%>
      <% for item in items%>
        <% product = item.g197_product%>
        <% array[array.size] = [product.name]%>
      <% end %>
      
          <tr>
          <td><%= each.id %></td>
          <td><%= "#{each.g197_customer.first_name} #{each.g197_customer.last_name}" %></td>
          <td><%= "#{each.g197_sales_rep.first_name} #{each.g197_sales_rep.last_name}" %></td>
          <td><%= each.date_received %></td>
          <td><%= each.payment_method %></td>
          <td><%= array.join(", ") %></td>
        </tr>
         <% end %>
    </table>
  </body>
</html>  

