<form method="POST" action="/reservations">
  <p>Welcome, <%= @user.first_name %>
    <button name="logout" value="logout">Logout</button>
  </p>

  <h2>My current reservation</h2>
  <% if @car == nil %>
     <ul><li>No current reservations</li></ul>
  <% else %>
    <ul>
      <li>Car number: <%= @car.id %> </li>
      <li>Color: <%= @car.color %> </li>
      <li>Model: <%= @car.model %> </li>
    </ul>

<<<<<<< HEAD
    <button name="return_this_car" value="return_this_car">
      Return this car
=======
    <button name="return_car" value="return_car">
      Return  car
>>>>>>> master
    </button>
  <% end %>

  <h2>List of available cars</h2>
  <table border="1">
    <tr>
      <th>Number</th>
      <th>Color</th>
      <th>Model</th>
      <th>Available?</th>
      <th>Reserve</th>
    </tr>
    <% for car in Car.order('id') %>
      <tr>
         <td><%= car.id %></td>
         <td><%= car.color %></td>
         <td><%= car.model %></td>
         <% if car.car_share_member == nil %>
           <td>Yes</td>
           <td>
             <button name="reserve_this_car"
               value="<%= car.id %>">Reserve</button>
           </td>
         <% else %>
           <td>No</td>
         <% end %>

      </tr>
    <% end %>
  </table>
</form>
