<html>
  <body>
    <h1>Sub sandwich order form</h1>

    <% form_tag "/sub_orders" do %>
      <p>
        Base cost for 6 inch sub:
        <b>$3.49</b>
      </p>

      <%= label_tag "sandwich_type", caption: "Sandwich Type:" %>
      <%= select_tag "sandwich_type", id: "sandwich_type",
        options: ["Italian", "B.L.T.", "Vegetarian", "Bacon Egg & Cheese"],
        selected: "Italian" %>
      <br>
      <%= label_tag "bread_type", caption: "Bread Type:" %>
      <%= select_tag "bread_type", id: "bread_type",
        options: ["white", "wheat", "rye"],
        selected: "white" %>
      <br>
      <div class='label-spacer'></div>
      <%= check_box_tag "want_12_inch", id: "want_12_inch", checked: false %>
      <%= label_tag "want_12_inch", caption: "Upgrade to 12 inch" %>
      <b>Add $2.00</b>
      <br>
      <div class='label-spacer'></div>
      <%= check_box_tag "want_extra_cheese", id: "want_extra_cheese", checked: false %>
      <%= label_tag "want_extra_cheese", caption: "Extra Cheese" %>
      <b>Add $0.49</b>
      <br>
      <div class='label-spacer'></div>
      <%= check_box_tag "want_chips", id: "want_chips", checked: false %>
      <%= label_tag "want_chips", caption: "Add Chips" %>
      <b>Add $0.99</b>
      <br>
 
      <button name="action" value="place_order">Place order</button>
    <% end %>
  </body>
</html>