<html>
  <body>
    <h1>Orders</h1>
    <table border='1'>
      <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Sales rep</th>
        <th>Date received</th>
        <th>Payment method</th>
        <th>Product names</th>
      </tr>
      <% for order in @orders %>/
        <tr>
          <td>
            <a href="/order/<%= order.id %>">
              <%= order.id %>
            </a>
          </td>
          <td>
            <%= order.g197_customer.first_name %>
            <%= order.g197_customer.middle_name %>
            <%= order.g197_customer.last_name %>
          </td>
          <td>
            <%= order.g197_sales_rep.first_name %>
            <%= order.g197_sales_rep.middle_name %>
            <%= order.g197_sales_rep.last_name %>
          </td>
          <td>
            <%= order.date_received %>
          </td>
          <td>
            <%= order.payment_method %>
          </td>
          <td>
            <% products = [] %>
            <% for order_item in order.g197_order_items %>
              <% products << order_item.g197_product.name %>
            <% end %>
            <%= products.join(", ") %>
          </td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
